{% extends "layout.html" %}
{% block content %}
<div class="account-boxes">
	<div class="left-accbox accbox">
		<h1>Upload a New Profile Picture</h1>
		<form method="post" action="/pfp" enctype="multipart/form-data">
			<label class="button">
				<input type="file" name="file" onchange="form.submit()" accept=".png, .jpg, .jpeg, .gif, .JPG" required>
				Upload a File
			</label>
		</form>
		<p class="important">{{error}}</p>
	</div>
	<div class="centre-accbox accbox">
		<img src="{{url_for('static', filename='pfps/'+session['pfp'])}}" class="pfp"></img> <br>
		<h1>Hi there, {{session['username']}}</h1>
		<p>Email: {{session['email']}}</p>
		<a class="button" href="{{url_for('logout')}}">Log Out</a>
	</div>
	<div class="right-accbox accbox">
		<h1>Delete your Account</h1>
		<a href="{{url_for('userdelete_account', confirmed='False')}}" class="button important">Delete Account</a>
	</div>
</div>
{% endblock %}