<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Top Infinity</title>
</head>

<body>
  <div class="bar">
    <a href="{{url_for('home')}}">
      <svg class="home-button" viewBox="0 0 100 100">
        <g transform="scale(2)">
          <path
            d="M11 39h7.5V26.5h11V39H37V19.5L24 9.75 11 19.5Zm0 3q-1.25 0-2.125-.875T8 39V19.5q0-.7.325-1.35.325-.65.875-1.05l13-9.75q.4-.3.85-.45.45-.15.95-.15.5 0 .95.15.45.15.85.45l13 9.75q.55.4.875 1.05.325.65.325 1.35V39q0 1.25-.875 2.125T37 42H26.5V29.5h-5V42Zm13-17.65Z" />
        </g>
      </svg>
    </a>
    <p>TopInfinity</p>
    <a href="{{url_for('account')}}">
      <img src="{{url_for('static', filename='pfps/'+session['pfp'])}}" class="bar-pfp pfp">
    </a>
  </div>
  {% block content %}
  {% endblock %}

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      var scrollpos = localStorage.getItem("scrollpos");
      if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onscroll = function (e) {
      localStorage.setItem("scrollpos", window.scrollY);
    };
  </script>

</body>

</html>