<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Blogs</title>
</head>

<body>
    <div class="w3-bar w3-card-4 w3-light-grey">
        <a href="{{url_for('home')}}" class="w3-bar-item w3-button">Home</a>
        {% if signedIn == True %}
        <a href="{{url_for('account')}}" class="w3-bar-item w3-button">Account</a>
        {% else: %}
        <a href="{{url_for('signin')}}" class="w3-bar-item w3-button">Sign In</a>
        {% endif %}
    </div> 
    {% block content %} 
    {% endblock %}
</body>

</html>