{% extends "welcomelayout.html" %}
{% block content %}

<div class="login">

    <div class="main-login login-area">
        <div class="login-content">
            <h1>Sign In to an Existing Account</h1>
            <form action="/signin" method="post">
                <label for="username">Username</label> <br>
                <input type="text" placeholder="Enter Username" name="username" value="{{session['username']}}"> <br>

                <label for="password">Password</label> <br>
                <input class="password-input" type="password" placeholder="Enter Password" name="password"> <br>

                <button type="submit" class="button form-button">Sign In</button>
            </form>
        </div>
    </div>

    <div class="side-login login-area">
        <div class="login-content">
            <h1>Create a New Account</h1>
            <p>Don't have an account?</p>
            <a href="{{url_for('signup')}}" class="button">Sign Up</a>
        </div>
    </div>
</div>

{%if error%}
    <div class="error">
        <p>{{error}}</p>
    </div>
{%endif%}

{%if message%}
    <div class="error message">
        <p>{{message}}</p>
    </div>
{%endif%}

{% endblock %}