{% extends "welcomelayout.html" %}
{% block content %}


<h1>Create your account</h1>
<form action="/signup" method="post" class="">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" class="" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" class="" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" class="" required>

        <button type="submit" class="">Sign Up</button>

        <p class="important">{{error}}</p>
        <p>Already have an account?</p>

        <a href="{{url_for('signin')}}" class="">Sign In</a>
    </div>
</form>
<a href="{{url_for('checkcreds')}}" class="">Cancel</a>


{% endblock %}