{% extends "layout.html" %}
{% block content %}

<div class="boxless-text topics-title">
    <h1>{{topics[0][0]}}</h1>
    <p>{{topics[0][1]}}</p>
    <div class="profile">
        <img class="pfp" src="{{url_for('static', filename='/pfps/'+topics[0][3])}}">
        {{topics[0][2]}}
    </div>
</div>

<table class="items-table">
    {%if items != []:%}
    <thead>
        <tr>
            <th>
                <p>Rank</p>
            </th>
            <th>
                <p>Item</p>
            </th>
            <th>
                <p>Overall Rating</p>
            </th>
            <th>
                <p>Your Rating</p>
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    {%endif%}
    <tbody>
        {%for i, item in enumerate(items):%}
        <tr class="item-section">
            <td>
                {%if item[2] != (0,0,0,0,0):%}
                <p>{{i+1}}</p>
                {%else:%}
                <p>N/A</p>
                {%endif%}
            </td>
            <td>
                <p>{{item[1]}}</p>
            </td>
            <td>
                {%if item[2] == (0,0,0,0,0):%}
                <p>Not yet ranked</p>
                {%else:%}
                <div class="rating">
                    <input type="radio" name="rating.{{item[0]}}" value="5" {{item[2][4]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="4" {{item[2][3]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="3" {{item[2][2]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="2" {{item[2][1]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="1" {{item[2][0]}}><label>☆</label>
                </div>
                {%endif%}
            </td>
            <td>
                <form class="ratingform" action="{{url_for('rate', itemid=item[0])}}" method="post">
                    <div class="rating-input rating">
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="5"
                            id="5.{{item[0]}}" {{item[4][4]}}>
                        <label for="5.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="4"
                            id="4.{{item[0]}}" {{item[4][3]}}>
                        <label for="4.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="3"
                            id="3.{{item[0]}}" {{item[4][2]}}>
                        <label for="3.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="2"
                            id="2.{{item[0]}}" {{item[4][1]}}>
                        <label for="2.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="1"
                            id="1.{{item[0]}}" {{item[4][0]}}>
                        <label for="1.{{item[0]}}">☆</label>
                    </div>
                </form>
            </td>
            <td>
                {%if item[3] == userid or topics[0][4] == userid:%}
                <a class="button-icon delitem-button" href="{{url_for('userdelete_item', itemid=item[0])}}">
                    <svg viewBox="0 0 100 100">
                        <g transform="scale(2)">
                            <path
                                d="M13.05 42q-1.2 0-2.1-.9-.9-.9-.9-2.1V10.5H8v-3h9.4V6h13.2v1.5H40v3h-2.05V39q0 1.2-.9 2.1-.9.9-2.1.9Zm21.9-31.5h-21.9V39h21.9Zm-16.6 24.2h3V14.75h-3Zm8.3 0h3V14.75h-3Zm-13.6-24.2V39Z" />
                        </g>
                    </svg>
                </a>
                {%else:%}
                <p>None</p>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
        <tr>
            <td colspan="5" class="input-col">
                <form action="/additem" method="post">
                    <input type="text" name="itemname" placeholder="Add a new item!" type="submit">
                    <button class="button" type="submit">Add Item</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

{%if error%}
    <div class="error">
        <p>{{error}}</p>
    </div>
{%endif%}


{%endblock%}