{% extends "layout.html" %}
{% block content %}


<h1>{{topics[0][0]}}</h1>
<p>{{topics[0][1]}}</p>
<img class="pfp profile-pfp" src="{{url_for('static', filename='/pfps/'+topics[0][3])}}">
<p>{{topics[0][2]}}</p>

<h1>Ranked</h1>

<table>
    <thead>
        <tr>
            <th>
                <p>Rank</p>
            </th>
            <th>
                <p>Item</p>
            </th>
            <th>
                <p>Overall Rating</p>
            </th>
            <th>
                <p>Your Rating</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {%for i, item in enumerate(items):%}
        <tr class="item-section">
            <td>
                <p>{{i+1}}</p>
            </td>
            <td>
                <p>{{item[1]}}</p>
            </td>
            <td>
                <div class="rating">
                    <input type="radio" name="rating.{{item[0]}}" value="5" {{item[2][4]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="4" {{item[2][3]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="3" {{item[2][2]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="2" {{item[2][1]}}><label>☆</label>
                    <input type="radio" name="rating.{{item[0]}}" value="1" {{item[2][0]}}><label>☆</label>
                </div>
            </td>
            <td>
                <form class="ratingform" action="{{url_for('rate', itemid=item[0])}}" method="post">
                    <div class="rating-input rating">
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="5"
                            id="5.{{item[0]}}" {{item[3][4]}}><label for="5.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="4"
                            id="4.{{item[0]}}" {{item[3][3]}}><label for="4.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="3"
                            id="3.{{item[0]}}" {{item[3][2]}}><label for="3.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="2"
                            id="2.{{item[0]}}" {{item[3][1]}}><label for="2.{{item[0]}}">☆</label>
                        <input onclick="form.submit()" type="radio" name="rating.{{item[0]}}" value="1"
                            id="1.{{item[0]}}" {{item[3][0]}}><label for="1.{{item[0]}}">☆</label>
                    </div>
                </form>
            </td>
        </tr>
        {%endfor%}
        <tr>
            <td colspan="4" class="input-col">
                <form action="/additem" method="post">
                    <input type="text" name="itemname" size="50" placeholder="Add a new item!" type="submit">
                </form>
            </td>
        </tr>
    </tbody>
</table>



{%endblock%}